@use "../abstract/font";
@use "../abstract/border";
@use "../abstract/spacing";

%control {
  font: {
    size: font.$control-size;
    family: font.$control-family;
  }

  line-height: inherit;

  padding: spacing.$control-padding;
  border-radius: border.$radius;

  white-space: nowrap;
  vertical-align: middle;
}
