$white: white !default;
$black: black !default;

$on-dark-text: white !default;
$on-light-text: #333 !default;

$primary: dodgerblue !default;
$primary-hover: rgb(25, 121, 218) !default;
$primary-active: rgb(22, 101, 180) !default;

$border: silver !default;
$background: #ededed !default;
