@use "../abstract/border";
@use "../abstract/color";
@use "../abstract/spacing";

.card {
  border-radius: border.$radius;
  background-color: color.$white;
  overflow: hidden;

  &-body {
    padding: spacing.$p2;
  }
}
